@model IEnumerable<EthlonConsultancy.Organization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4"><h2>Organizations</h2></div>
    <div class="col-lg-4"><p style="margin-left:200px;margin-top:25px;">Search By Email</p></div>
    <div class="col-lg-4 mt-lg">

        @using (Html.BeginForm("Index", "Organizations", FormMethod.Get))
        {
            <table>
                <tr>
                    <td></td>
                    <td>
                        <input type="search" name="search" placeholder="Search..." value="" class="form-control" />

                    </td>
                    <td>
                        <button type="submit" class="searchButton form-control">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>

                </tr>
            </table>
        }
    </div>
</div>


<table class="table mt-lg">
    <tr style="background-color:#d41e48;color:white;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoordinatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoordinatorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndustryNuture)
        </th>
        
        <th>
            Login Status
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoordinatorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoordinatorPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndustryNuture)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            <a href="@Url.Action("Edit","Organizations",new {id=item.Id })"><i class="fa fa-edit fa-fw"></i></a> |
            @if (Session["managertype"] == null)
            {
            <a href="@Url.Action("Delete","Organizations",new {id=item.Id })"><i class="fa fa-trash-o fa-fw"></i></a> 
            }
        </td>
    </tr>
}

</table>
