
@{
    ViewBag.Title = "ApplicantCA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="body">

    <!-- start: header -->
    <!-- end: header -->
    <!-- start: sidebar -->
    <!-- end: sidebar -->

    <section role="main" class="">


        <!-- start: page -->


        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="/Admin/#" class="fa fa-caret-down"></a>

                </div>

                <h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:black;">Applicants CA/ACCA CVs Submitted</h3>
            </header>
            <div class="panel-body">
                <table class="js-dynamitable table table-bordered table-striped mb-none" id="datatable-tabletools">

                    <!-- table heading -->
                    <thead>

                        <tr>
                            <th>Serial #</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Date Of Birth</th>
                            <th>Qualification</th>
                            <th>Qualification Status</th>
                            <th>Date Of Qualification / No. Of Papers Left</th>
                            <th>Curriculum Activities</th>
                            <th>Achivements</th>
                            <th>Experience</th>
                            <th>Experience Years</th>
                            <th>Organization</th>
                            <th style="width:400px;">Actions<span style="color:#d41e48;">..........................</span></th>
                        </tr>
                        <tr id="sorting">
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="date" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th>
                                <select class="js-filter  form-control">
                                    <option></option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th>
                                <select class="js-filter  form-control">
                                    <option></option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th><input class="js-filter  form-control" type="text" value=""></th>
                            <th></th>

                        </tr>
                    </thead>

                    <!-- table body -->
                    <tbody>
                        @{
                            var count = 0;

                            foreach (var item in ViewBag.getcacv)
                            {
                                if (item.Qualname != null && item.Qualstatus != null)
                                {
                                    count = count + 1;
                                    <tr class="odd gradeX">
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Address</td>
                                        <td>@item.Contactno</td>
                                        <td>@item.Age</td>
                                        <td>@item.Qualname</td>
                                        <td>@item.Qualstatus</td>
                                        @if (item.Qualstatus == "Qualified")
                                        {
                                            <td>@item.DOQ</td>
                                        }
                                        else
                                        {
                                            <td>@item.NOPL</td>
                                        }
                                        <td>@item.Extracuri</td>
                                        <td>@item.Achivements</td>
                                        <td>@item.ExpStatus</td>
                                        <td>@item.NOYExperience</td>
                                        <td>@item.OrgName</td>
                                        <td>
                                            <a href="@Url.Action("DeleteApplicantCA","Home", new { id=item.Id })" class="btn btn-danger">Delete</a>
                                        </td>
                                        @*<td><a class="btn btn-default" title="Download CV" href="@Url.Action("DownloadFile", "Orginfo", new { item.Id })"><i class="fa fa-download"></i></a></td>*@
                                    </tr>
                                }

                            }
                        }
                    </tbody>
                </table>


            </div>
            <!-- /.panel-body -->
        </section>
    </section>
</section>


<script src="~/scripts/jquery-3.3.1.min.js"></script>
<!-- dynamitable -->
<script src="~/scripts/dynamitable.jquery.min.js"></script>
<script type="text/javascript">


    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


</script>

